%%%-------------------------------------------------------------------
%%%
%%% ejabberd Business Edition, Copyright (C) 2002-2018   ProcessOne
%%%
%%% The ejabberd software is the exclusive property of the licensor
%%% ProcessOne. It is protected by the law on copyright and
%%% international conventions. As a result, the dealer
%%% recognizes that will make every effort to ensure the confidentiality
%%% on the software. It is recalled that a violation of the rights of
%%% authors of the software is an infringement and that any
%%% counterfeit is punishable in France by Article L339-2 of the Code of
%%% Intellectual property and punishable by three years imprisonment and
%%% 300000 euros.
%%%
%%% Any infringement liable to be so qualified and
%%% would be caused by third parties and whose dealer has knowledge
%%% should be terminated by the licensor that it will make its case
%%% personal conduct of the proceedings. Any allegation of infringement
%%% formed against the dealer because of the use of the Software will
%%% be brought to the knowledge of the licensor which will assist
%%% in defense of the dealer in the manner and form that
%%% see fit and fix alone.
%%%
%%%----------------------------------------------------------------------
{erl_opts, [debug_info, {src_dirs, ["src"]}]}.

{port_env, [{"CFLAGS", "$CFLAGS -g -O2 -Wall -I deps/uthash/src"},
	    {"LDFLAGS", "$LDFLAGS -lpthread"}]}.

{port_specs, [{"priv/lib/mqtree.so", ["c_src/mqtree.c"]}]}.

{deps, [{p1_utils, ".*", {git, "https://github.com/processone/p1_utils",
			  "6ff85e8"}},
	{uthash, ".*", {git, "https://github.com/troydhanson/uthash.git",
			{tag, "v2.0.2"}}, [raw]}]}.

{clean_files, ["c_src/mqtree.gcda", "c_src/mqtree.gcno"]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{xref_checks, [undefined_function_calls, undefined_functions,
	       deprecated_function_calls, deprecated_functions]}.

{profiles, [{test, [{erl_opts, [{src_dirs, ["test"]}]}]}]}.

%% Local Variables:
%% mode: erlang
%% End:
%% vim: set filetype=erlang tabstop=8:
